@{
    string lang = ViewBag.Lang;
}
<header>
    <nav id="navs" class="navbar navbar-expand-lg p-0 m-0 flex-column">
        <div class="container">
            <div class="navbar-main w-100 d-flex align-items-center justify-content-between position-relative">
                <a class="navbar-brand d-block p-0 m-0" asp-controller="Home" asp-action="Index" asp-route-lang="@lang">
                    <img class="svg" src="~/assets/img/icons/logo-header.svg" alt="atapack">
                </a>
                <div class="navbar-collapse flex-grow-0">
                    <div class="navbar-nav w-100 h-100  align-items-center justify-content-center">
                        <div class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="Home" asp-action="Index" asp-route-lang="@lang">
                                Ana səhifə
                            </a>
                        </div>
                        <div class="nav-item">
                            <span class="nav-link d-flex align-items-center">
                                Haqqımızda
                                <i class="bi bi-chevron-down arrow"></i>
                            </span>
                            <div class="sub-menu-content">
                                <div class="sub-menu">
                                    <div class="sub-item"><a class="subs-links" asp-controller="About" asp-action="Index" asp-route-lang="@lang" asp-route-slugUrl="Hedeflerimiz">Hədəflərimiz</a></div>
                                    <div class="sub-item"><a class="subs-links" asp-controller="About" asp-action="Index" asp-route-lang="@lang" asp-route-slugUrl="Missiyamiz">Missiyamız</a></div>
                                    <div class="sub-item"><a class="subs-links" asp-controller="Home" asp-action="Gallery" asp-route-lang="@lang">Qalereya</a></div>
                                    <div class="sub-item"><a class="subs-links" asp-controller="News" asp-action="Index" asp-route-lang="@lang">Xəbərlər</a></div>
                                </div>
                            </div>

                        </div>
                        <div class="nav-item">
                            <span class="nav-link d-flex align-items-center">
                                Məhsullarımız
                                <i class="bi bi-chevron-down arrow"></i>
                            </span>
                            <div class="sub-menu-content">
                                <div class="sub-menu">
                                    @await Component.InvokeAsync("CategoryMenu")
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <span class="nav-link d-flex align-items-center">
                                Xidmətlərimiz
                                <i class="bi bi-chevron-down arrow"></i>
                            </span>
                            <div class="sub-menu-content">
                                <div class="sub-menu">
                                    @await Component.InvokeAsync("ServiceMenu")
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="About" asp-action="Index" asp-route-lang="@lang" asp-route-slugUrl="Keyfiyyet">
                                Keyfiyyət
                            </a>
                        </div>

                        <div class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="Portfolios" asp-action="Index" asp-route-lang="@lang">
                                Portfolio
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="Contact" asp-action="Index" asp-route-lang="@lang">
                                Əlaqə
                            </a>
                        </div>
                        <div class="nav-item">
                            <span class="nav-link d-flex align-items-center">
                                <span class="position-relative">AZ</span>
                                <i class="bi bi-chevron-down arrow"></i>
                            </span>
                            <div class="sub-menu-content sub-content-lang">
                                <div class="sub-menu lang-sub-menu js-down">
                                    <div class="sub-item lang-item"><a class="subs-links" href="#">EN</a></div>
                                    <div class="sub-item lang-item"><a class="subs-links" href="#">RU</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn navicon d-none"></button>
            </div>
        </div>
    </nav>
</header>