@{
    string lang = ViewBag.Lang;
    var url = Context.Request.Path;
}
<header>
    <nav id="navs" class="navbar navbar-expand-lg p-0 m-0 flex-column">
        <div class="container">
            <div class="navbar-main w-100 d-flex align-items-center justify-content-between position-relative">
                <a class="navbar-brand d-block p-0 m-0" asp-controller="Home" asp-action="Index" asp-route-lang="@lang">
                    <img class="svg" src="~/assets/img/icons/logo-header.svg" alt="atapack">
                </a>
                <div class="navbar-collapse flex-grow-0">
                    <div class="navbar-nav w-100 h-100  align-items-center justify-content-center">
                        <div class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="Home" asp-action="Index" asp-route-lang="@lang">
                                @configuration[$"Home:{lang}"]
                            </a>
                        </div>
                        <div class="nav-item">
                            <span class="nav-link d-flex align-items-center">
                                @configuration[$"About:{lang}"]
                                <i class="bi bi-chevron-down arrow"></i>
                            </span>
                            <div class="sub-menu-content">
                                <div class="sub-menu">
                                    <div class="sub-item"><a class="subs-links" asp-controller="About" asp-action="Index" asp-route-lang="@lang" asp-route-slugUrl="Hedeflerimiz">@configuration[$"Coale:{lang}"]</a></div>
                                    <div class="sub-item"><a class="subs-links" asp-controller="About" asp-action="Index" asp-route-lang="@lang" asp-route-slugUrl="Missiyamiz">@configuration[$"Mission:{lang}"]</a></div>
                                    <div class="sub-item"><a class="subs-links" asp-controller="Home" asp-action="Gallery" asp-route-lang="@lang">@configuration[$"Gallery:{lang}"]</a></div>
                                    <div class="sub-item"><a class="subs-links" asp-controller="News" asp-action="Index" asp-route-lang="@lang">@configuration[$"News:{lang}"]</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <span class="nav-link d-flex align-items-center">
                                @configuration[$"Product:{lang}"]
                                <i class="bi bi-chevron-down arrow"></i>
                            </span>
                            <div class="sub-menu-content">
                                <div class="sub-menu">
                                    @await Component.InvokeAsync("CategoryMenu")
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <span class="nav-link d-flex align-items-center">
                                @configuration[$"Services:{lang}"]
                                <i class="bi bi-chevron-down arrow"></i>
                            </span>
                            <div class="sub-menu-content">
                                <div class="sub-menu">
                                    @await Component.InvokeAsync("ServiceMenu")
                                </div>
                            </div>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="About" asp-action="Index" asp-route-lang="@lang" asp-route-slugUrl="Keyfiyyet">
                                @configuration[$"Quality:{lang}"]
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="About" asp-action="Index" asp-route-lang="@lang" asp-route-slugUrl="Ustunluklerimiz">
                                Üstünlüklərimiz
                            </a>
                        </div>
                        <div class="nav-item">
                            <a class="nav-link d-flex align-items-center" asp-controller="Contact" asp-action="Index" asp-route-lang="@lang">
                                @configuration[$"Contact:{lang}"]
                            </a>
                        </div>
                        <div class="nav-item">
                            <span class="nav-link d-flex align-items-center">
                                <span class="position-relative">
                                    @if (lang == "az")
                                    {
                                        <text>AZ</text>
                                    }
                                    @if (lang == "en")
                                    {
                                        <text>EN</text>
                                    }
                                    @if (lang == "ru")
                                    {
                                        <text>RU</text>
                                    }
                                </span>
                                <i class="bi bi-chevron-down arrow"></i>
                            </span>
                            <div class="sub-menu-content sub-content-lang">
                                <div class="sub-menu lang-sub-menu js-down">
                                    <div class="sub-item lang-item"><a class="subs-links" asp-controller="Language" asp-action="Change" asp-route-lang="az" asp-route-slugurl="@url">AZ</a></div>
                                    <div class="sub-item lang-item"><a class="subs-links" asp-controller="Language" asp-action="Change" asp-route-lang="en" asp-route-slugurl="@url">EN</a></div>
                                    <div class="sub-item lang-item"><a class="subs-links" asp-controller="Language" asp-action="Change" asp-route-lang="ru" asp-route-slugurl="@url">RU</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn navicon d-none"></button>
            </div>
        </div>
    </nav>
</header>