@model ProductsViewModel
@{
    ViewData["Title"] = "Index";
    string lang = ViewBag.Lang;
}
@section seo{
    @await Component.InvokeAsync("Seo", new { Page = "Product"  })
}
<section>
    <div class="mahsullar-general-main">
        <div class="container">
            <div class="partner-heading">
                <p class="page-heading">@configuration[$"Product.Title:{lang}"]</p>
               @* <p class="page-text">
                    @configuration[$"Product.Text:{lang}"]
                </p>*@
            </div>
            <div class="filter-options mb-5">
                @if (string.IsNullOrEmpty(ViewBag.url))
                {
                    <a asp-controller="Products"
                       asp-action="Index"
                       asp-route-lang="@lang"
                       asp-route-slugUrl="all" class="btn me-3 active">@configuration[$"Product.Category.Text:{lang}"]</a>
                }
                else
                {
                    <a asp-controller="Products"
                       asp-action="Index"
                       asp-route-lang="@lang"
                       asp-route-slugUrl="all" 
                        class="btn me-3">@configuration[$"Product.Category.Text:{lang}"]</a>
                }
                @foreach (var item in Model.Categories)
                {
                    var languageText = item.CategoryLanguages.FirstOrDefault(x => x.Lang_Code == lang).Title;
                    <a  asp-controller="Products" 
                        asp-action="Index" 
                        asp-route-lang="@lang"
                        asp-route-slugUrl="@item.SlugUrl.ToLower()"
                            class="btn me-3 @(ViewBag.url == item.SlugUrl.ToLower() ? "active" : "")">
                        @languageText
                    </a>
                }
            </div>
            <div class="mahsullar-card-content">
                <div class="mahsul-card-main">
                    <div id="mahsul-grid" class="appendFilter row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-3 g-lg-3 g-xl-5">
                        @foreach (var item in Model.Products)
                        {
                            var languageCategoryText = item.Category.CategoryLanguages.FirstOrDefault(x => x.Lang_Code == lang).Title;
                            var languageProdcutText = item.ProductLanguages.FirstOrDefault(x => x.Lang_Code == lang);
                            <div class="col mahsul-item">
                                <a asp-controller="Products"
                               asp-action="Detail"
                               asp-route-lang="@lang"
                               asp-route-slugUrl="@item.SlugUrl" class="mahsul-card">
                                    <img class="mahsul-image"
                                     src="@await Component.InvokeAsync("Image", new { FileCode = item.ProductFiles.FirstOrDefault().FileCode  })"
                                     alt="@item.SlugUrl.ToLower()" />
                                    <p class="mahsul-name">@languageProdcutText.Title</p>
                                    <div class="line"></div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                @if (Model.Products.Count() >= 9)
                {
                    <button class="btn btn-dahacox btn-more"
                        data-controller="Products"
                        data-action="Filter"
                        data-filter-id="@ViewBag.url">
                        <span>@configuration[$"More:{lang}"]</span>
                        <div class="write-circle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </button>
                }
            </div>
        </div>
    </div>
</section>